// Only reimport this if you are in a route where App is not mounted.
@import '../../shared-styles/base';

// Always reimport this
@import '../../shared-styles/variables';

.content {
  min-height: 100vh;
  width: 100%;
  background-color: $darkGrey;
}
