@import '../../shared-styles/variables';

.WorldMapContainer {
  width: 100%;
  margin: 0 auto;
  max-height: 100vh;

  @media screen and (min-width: 40em) {
    width: 80vw;
    margin: 0 auto;
    padding: 5vh 0;
  }
}

.WorldMapContent {}

.WorldMapSVG {
  max-height: 100vh;
  min-height: 600px;
  width: auto;
}

.WorldMapCountries {
  fill: none;
  stroke: $red;
}

.WorldMapUser {
  circle {
    fill: palegreen;
  }
}

.WorldMapWarCrimes {
  circle {
    fill: gold;
  }
}
